.btn{
  display:inline-block;
  font-size: 32px;
  text-transform: uppercase;
  border-radius: 20px;
  text-align:center;
  min-width:300px;
  padding:22px 15px;
  line-height:1;
  -moz-box-shadow: 0 5px 30px rgba(42, 110, 118, 0.6);
  -webkit-box-shadow: 0 5px 30px rgba(42, 110, 118, 0.6);
  box-shadow: 0 5px 30px rgba(42, 110, 118, 0.6);
  transition:.3s;
  cursor: pointer;
  @include minMedia(768){
    min-width:350px;
  }
  &--regular{
    border:2px solid #4c4577;
    color: #fff;
    background: #4c4577;
    &:hover{
      background: #0b1424;
      border:2px solid #0b1424;
      color: #fff
    };
  }

  &--white {
    border:2px solid #fff;
    color: #4c4577;
    background: #fff;
    &:hover{
      background: #4c4577;
      border:2px solid #fff;
      color: #fff;
    };
  }
}
