.count{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:260px;
  margin:0 auto
}
.count-container{
  display:block;
  width:50px;
  height:50px;
  text-align:center;
  background:#e8e8e8;
  font-size:30px;
  margin-right:20px;
  flex-direction:column;
  position:relative
}
.count-container:last-child{
  margin-right:0
}
.count-container .number{
  font-weight:600
}
.count-container:after,.count-container:before{
  display:block;
  content:' ';
  width:8px;
  height:8px;
  position:absolute;
  border-radius:100%;
  background:#e8e8e8;
  right:-14px
}
.count-container:before{
  top:12px
}
.count-container:after{
  bottom:12px
}
.count-container:last-child:after,.count-container:last-child:before{
  display:none
}
.count__name{
  font-size:10px;display: block;
}
