#map{
  height: 488px;
}

.contacts{
  &-section{
    background: #333;
    padding: 70px 0 35px 0;
  }
  &__info{
    font-size: 30px;
    &--gap{
      margin-bottom: 40px;
    }
  }
  &__bottom{
    position: relative;
  }
}
.partners{
  position: absolute;
  right:0;
  top:0;

  &__item{
    display: inline-block;
    margin-right: 15px;
  }
}
.copy{
  &__title{
    text-transform: uppercase;
    font-size: 30px;
  }
}
