.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left:0;
  top:0;
  z-index: 10;
  background: rgba(0,0,0,.6);
  &--is-visible{
    display: block;
  }
}
.modal{
  display: none;
  padding: 25px 20px;
  z-index: 11;
  position: fixed;
  left:50%;
  top:10%;

  &--is-visible{
    display: block;
  }
  &--default{
    width: 440px;
    margin-left: -220px;
    background: #fff;
  }
  &--wide{
    width: 100%;
    margin-left: 0;
    left:0;
  }

  &__inner{

  }
  &__title{
    width: 100%;

  }
  &__close{
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;
    display: block;
    &:before{
      content: url(/images/landing/close.png);

    }
  }
}
