.benefits{
  &-section{
    padding:{
      top:65px;
    };
    background: url(/static/images/benefits-bg-578.jpg) no-repeat 50%;
    -webkit-background-size:cover;
    background-size:cover;
    @include minMedia(768){
      background: url(/static/images/benefits-bg-992.jpg) no-repeat 50%;
      -webkit-background-size:cover;
      background-size:cover;
      padding:{
        top:80px;
        bottom:35px;
      };
    }
    @include minMedia(1200){
      background: url(/static/images/benefits-bg-1200.jpg) no-repeat 50%;
      -webkit-background-size:cover;
      background-size:cover;
    }
  }

  &__title{
    margin-bottom:55px;
    @include minMedia(768){
      margin-bottom:75px;
    }
  }
}

.benefit{
  text-align: center;
  margin-bottom:40px;
  @include minMedia(768){
    margin-bottom:58px;
  }
  &__figure{
    width: 140px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:{
      left:auto;
      right:auto;
      bottom:30px;
    };
    @include minMedia(992){
      width: 160px;
      height: 160px;

    }
  }
  &__image{
    max-width:100%;
    max-height: 100%;
    display: block;
    margin:0 auto;
    &--1{
      width: 96px;
    }
    &--2{
      width: 96px;
    }
    &--3{
      width: 104px;
    }
    &--4{
      width: 104px;
    }
  }
  &__title{
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    @include minMedia(376){
      font-size:24px;
    }
    @include minMedia(768){
      margin-bottom:10px;
    }
  }
  &__description{
    color:#fff;
    font-size: 14px;
    font-weight:300;
    @include minMedia(376){
      font-size:16px;
    }
  }
  &.in-viewport{
    circle,
    path{
      transition-delay: 1s;
      transition-duration: 2s;
      stroke-dashoffset: 0 !important;
    }
  }
}