.footer{
  padding-bottom:25px;
  background-image: radial-gradient(circle 1718px at center 109.44%, #714790 0%, #714790 5%, #2e3e5e 50%, #080e1e 95%, #080e1e 100%);
  color: #fff;
  font-size:14px;
  font-weight:300;
  border-top:20px solid #0b1424;
  overflow: hidden;
  @include minMedia(768){
    font-size: 16px;
  }

  &__logo{
    opacity: .5;
    transition: .3s;
    max-width: 177px;
    &:hover{
      opacity: 1;
    }
    @include minMedia(768){
      padding:60px 0 24px 0;
    }
    &-container{
      padding:20px 0;
      text-align:center;
    }
  }
  &__copyright{
    text-align: center;
    font-size:16px;
  }
  &__social{
    text-align: center;
    padding-top:45px;
    padding-bottom:45px;
    @include minMedia(768){
      padding:{
        top:60px;
        bottom:80px;
      }
    }
    &-link{
      padding: 0 19px;
    }
    &-svg{
      height: 40px;
      width: 40px;
      fill: #8d95a0;
      transition: .5s;
      &:hover {
        fill:#fff;
      }
    }
  }
}