.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding:30px 0;
  transition:.3s;
  z-index:3;

  &__logo{
    max-width: 74%;
    transition: .3s;
    position: relative;
    z-index:2;
    @include minMedia(768){
      height:108px;
    }
    @include minMedia(992){
      height:130px;
      max-width: 100%;
    }
  }
  &--fixed{
    background: #080f1f;
    padding:10px 0;
    .header__logo{
      max-width: 55%;
      @include minMedia(768){
        height:82px;
      }
      @include minMedia(992){
        height:105px;
        max-width: 100%;
      }
    }
  }
  &__menu{
    ul{
      @include minMedia(1200){
        display: flex;
        align-items: center;
      }
    }
    &-item{
      color: #fff;
      font-size: 22px;
      padding:0 13px;
      text-align: center;
      margin-bottom:30px;
      @include minMedia(1200){
        margin-bottom:0;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__menu-btn{
    cursor: pointer;
    width:50px;
    position: relative;
    z-index:2;
    height:42px;
    &-container{
      padding-right:15px;
      @include minMedia(1200){
        display: none;
      }
    }
  }
  &__menu-row{
    height:4px;
    background: #fff;
    width:100%;
    display: block;
    border-radius: 2px;
    position: absolute;
    left:0;
    transition: .3s;
    &:first-child{
      top:0;
    }
    &:nth-child(2){
      top:19px;
    }
    &:last-child{
      bottom:0;
    }
    &--active{
      &:first-child{
        transform: rotate(45deg);
        transform-origin: left center;
        left: 5px;
        top:-1px;
      }
      &:nth-child(2){
        visibility: hidden;
        opacity:0;
      }
      &:last-child{
        transform: rotate(-45deg);
        transform-origin: left center;
        left: 5px;
        bottom:3px
      }
    }
  }
  &__action-btns{
    display: none;
    @include minMedia(992){
      display: flex;
      justify-content: space-between;
      max-width: 395px;
    }
  }
  &__xl-nav{
    display: none;
    @include minMedia(1200){
      display: block;
    }
  }
}
.lang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#fff;
  opacity: .5;
  transition: .3s;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  &-switcher{
    width:156px;
    font-size: 22px;
  }
  &-id{
    padding-right:24px;
    position: relative;
    &:after{
      display: block;
      content:"";
      @include triangle('bottom', #fff, 6px);
      position: absolute;
      right:0;
      top:50%;
      margin-top:-3px;
    }
  }
  &__flag-container{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-other{
    display: none;
  }
}
.login-btn{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  color:#fff;
  padding:14px 40px;
  border:none;
  cursor: pointer;
  opacity: .5;
  transition: .3s;
  display: flex;
  align-items: center;
  margin-bottom:30px;
  @include minMedia(992){
    margin-bottom:0;
  }
  &:hover{
    opacity: 1;
  }
  &__icon{
    display: inline-block;
    width: 26px;
    margin-right:20px;
    height: 30px;
    background: url(/static/images/login-icon.svg) no-repeat 50%;
    -webkit-background-size:cover;
    background-size:cover;
  }
}
.mob-menu{
  background-image: radial-gradient(circle 1852px at center 109.44%, #55356c 0%, #55356c 5%, #232f47 50%, #060b17 95%, #060b17 100%);
  height: 100vh;
  position: absolute;
  top:0;
  right:0;
  width:100%;
  padding-top:168px;
  padding-left:15px;
  padding-right:15px;
  display: flex;
  justify-content: flex-end;
  transition: .3s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
  @include minMedia(768){
    max-width:512px;
  }
  @include minMedia(1200){
    display: none;
  }
  & .login-btn,
  & .lang-switcher{
    @include minMedia(992){
      display: none;
    }
  }
}