.how-it-works{
  padding:{
    top:45px;
  };
  border-top:20px solid #d1d7d9;
  @include minMedia(1200){
    padding:{
      top:60px;
      bottom:80px;
    };
  }
  &__title{
    margin-bottom:35px;
  }
  &__description{
    color: #2a6e76;
    margin-bottom:38px;
    font-weight:300;
    text-align: justify;
    @include minMedia(768){
      font-size: 22px;
    }
  }
  &__scheme{
    padding:{
      top:40px;
      bottom:55px;
    };
    background: #f0f1f3;
    @include minMedia(1200){
      max-width: 1400px;
      margin:0 auto;
      border-radius: 20px;
    }
  }
}
.scheme{
  &-full{
    display: none;
    @include minMedia(992){
      display: block;
    }
  }
  &-middle{
    @include minMedia(992){
      display: none;
    }
  }
}