.join{
  &-section{
    background:#e3e6e9;
    border-top:20px solid #b7c3c1;
    padding-top:45px;
    padding-bottom:60px;
  }
  &__title{
    margin-bottom:35px;
  }
  &__description{
    color: #2a6e76;
    font-size: 22px;
    text-align: center;
    font-weight:300;
    margin-bottom:20px;
    @include minMedia(1200){
      text-align: left;
    }
  }
  &__figure{
    width: 140px;
    height: 140px;
    background-color: #c0c7d0;
    border-radius: 20px;
    margin:0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include minMedia(992){
      width: 160px;
      height: 160px;
    }
    &.in-viewport{
      circle,
      path,
      ellipse{

        transition-delay: 1s;
        transition: 2s;
        stroke-dashoffset: 0 !important;
      }
    }
  }
  &__image{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:0 auto;
    &--1{
      width:104px;
    }
    &--2{
      width:96px;
    }
    &--3{
      width:86px;
    }
  }
  &__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #2a6e76;
    margin-bottom:15px;
  }
  &__item{
    position: relative;
    &--last{
      margin-bottom:40px;
    }
  }
  &__arrow{
    display: block;
    height:72px;
    margin:{
      left:auto;
      right:auto;
      bottom:15px;
    };
    @include minMedia(768){
      position: absolute;
      top:37px;
      right: -27px;
      transform:rotate(-90deg);
      margin:0;
    }
    @include minMedia(992){
      right: -27px;
      top:44px;
    }
    @include minMedia(1200){
      right:-32px;
      top:30px;
      height:98px;
    }
  }
}