.right-way{
  padding:45px 0;
  background: url("/static/images/benefits-bg-578.jpg") no-repeat 50%;
  background-size:cover;
  @include minMedia(768){
    padding:60px 0;
  }
  @include minMedia(992){
    padding:80px 0;
    background: url("/static/images/right-way-1200.jpg") no-repeat 50%;
    background-size:cover;
  }
  &__row{
    align-items: center;
    margin-bottom:45px;
    @include minMedia(768){
      margin-bottom:0;
    }
  }
  &__title{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom:0;
    @include minMedia(480){
      font-size: 28px;
    }
    @include minMedia(768){
      font-size: 45px;
      margin-bottom:30px;
    }
    @include minMedia(992){
      font-size: 56px;
      line-height:68px;
      max-width: 500px;
      margin-bottom:25px;
    }
    @include minMedia(1200){
      max-width: none;
    }
    &-attension{
      font-weight: bold;
    }
    &-smaller{
      @include minMedia(768){
        font-size: 40px;
      }
      @include minMedia(992){
        font-size: 56px;
      }
    }
  }
  &__btn{
    &--576{
      @include minMedia(576){
        display: none;
      }
    }
    &--769{
      display: none;
      @include minMedia(576){
        display: block;
      }
    }
  }
}
.compass-container{
  max-width: 244px;
  text-align: center;
  margin:0 auto;
}