.top{
  padding-top:168px;
  background-image: url(/static/images/top-sm-opt.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  @include minMedia(576){
    background-image: url(/static/images/top-576-opt.png);
  }
  @include minMedia(576){
    background-image: url(/static/images/top-769-opt.png);
  }
  @include minMedia(992){
    background-image: url(/static/images/top-992-opt.png);
  }
  @include minMedia(1200){
    background-image: url(/static/images/top-1200-opt.png);
    min-height:690px;
  }

}