@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('/static/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/static/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('/static/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/ProximaNova-Bold.woff') format('woff'),
  url('/static/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url('/static/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/ProximaNova-Light.woff') format('woff'),
  url('/static/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-LightIt.eot');
  src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
  url('/static/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/ProximaNova-LightIt.woff') format('woff'),
  url('/static/fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
body{
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color:#333;
}
.title{
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  @include minMedia(376){
    font-size: 50px;
  }
  @include minMedia(768){
    font-size: 56px;
  }
  &--default{
    color: #6c8aaf;
  }
  &--white{
    color:#fff;
  }
}
.text{
  &--center{
    text-align: center;
  }
  &--white{
    color:#fff;
  }
  &--bold{
    font-weight: 700;
  }
  &--uppercase{
    text-transform: uppercase;
  }
  &--small{
    font-size: 14px;
  }
  &--attension{
    color:red;
  }
  &--gray{
    color:#666;
  }
}
.terms-of-agreement{
  font-size: 12px;
  text-align: center;
  & a{
    color:#00abf7
  }
}
.input-error{
  color:red;
  font-size:13px;
}
